.article-metadata {
    font-size: 16px;
    letter-spacing: 0.03em;
    color: rgba(0, 0, 0, 0.54); }
    .article-metadata a {
      color: rgba(0, 0, 0, 0.54); }
    .article-metadata a:hover {
      color: #1565c0; }
    .article-metadata .author-notes {
      cursor: help;
      padding-left: 3px; }
    .article-metadata .author-highlighted {
      font-weight: bold; 
}
.article-date {
    font-size: 20px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.576); }
.pub-publication{
    font-size: 20px;
    letter-spacing: 0.03em;
    color: rgb(255, 255, 255); 
  }
